<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   {# 手机显示优先 #}
{#    <meta name="author" content="Dashboard">#}
{#    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">#}

    {% load staticfiles %}

    <title>{% block title %} {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/extend/zabuto_calendar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/extend/jquery.gritter.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/extend/icon-style.css' %}">
    
    <!-- Custom styles for this template -->
    <link href="{% static 'css/custom/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom/style-responsive.css' %}" rel="stylesheet">

    {% block costom_style %}{% endblock %}

    {% csrf_token %}

  </head>
  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="显示/隐藏导航栏"></div>
              </div>
            <!--logo start-->
            <a href="/welcome" class="logo"><b>CMDB--运维管理平台</b></a>
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="/logout">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->

      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

              	  <p class="centered"><a href="/welcome"><img src="{% static 'img/cat_man.jpg' %}" class="img-circle" width="55"></a></p>

                  <h5 class="centered" id="name">{{ request.session.username }}</h5>

                  <li class="mt">
                      <a {% block active %}{% endblock %} href="/update">
                          <i class="fa fa-tasks"></i>
                          <span>更新站点</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a {% block active_1 %}{% endblock %} href="javascript:;" >
                          <i class="fa fa-inbox"></i>
                          <span>资产管理</span>
                      </a>
                      <ul class="sub">
                          <li {% block active_1_1 %}{% endblock %}><a href="#"> 资产列表</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a {% block active_2 %}{% endblock %} href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>主机管理</span>
                      </a>
                      <ul class="sub">
                          <li {% block active_2_1 %}{% endblock %}><a href="#">主机列表</a></li>
                          <li {% block active_2_2 %}{% endblock %}><a href="#">批量管理</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a {% block active_3 %}{% endblock %} href="{% url 'jenkins' %}" target="_blank">
                          <i class="fa fa-fire"></i>
                          <span>Jenkins</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a {% block active_4 %}{% endblock %} href="{% url 'zabbix' %}" target="_blank">
                          <i class="fa fa-warning"></i>
                          <span>Zabbix</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a {% block active_5 %}{% endblock %} href="{% url 'gitlab' %}" target="_blank">
                          <i class="fa fa-github-square"></i>
                          <span>GitLab</span>
                      </a>
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>



         <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
        <section id="main-content">
          <section class="wrapper site-min-height">
            {% block content %} {% endblock %}
          </section>
        </section>
      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              <div id="main">
                <div id="show_time">
              <script>
//setInterval("show_time.innerHTML= new Date().toLocaleString()",1000);
                setInterval("show_time.innerHTML=new Date().toLocaleString()+' 星期'+'日一二三四五六'.charAt(new Date().getDay());",1000);
              </script>
                </div>
              </div>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script class="include" type="text/javascript" src="{% static 'js/jquery.dcjqaccordion.2.7.js' %}"></script>
    <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.sparkline.js' %}"></script>


    <!--common script for all pages-->
    <script src="{% static 'js/common-scripts.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'js/jquery.gritter.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/gritter-conf.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>

    {% block custom_js %}{% endblock %}

  </body>
</html>
