{% extends 'base.html' %}
<title>{% block title %}站点更新{% endblock %}</title>

{% block active %} class="active" {% endblock %}

{% block content %}
    <style>
        #btn {
            margin: 5px;
            border-radius: 5px;
            color: white;
            border: none;
            padding: 5px 6px;
            float: right;
        }
        #box-title {
            font-size: 15px;
            font-weight: bold;
        }
        #box-content {
            height: 120px;
            padding: 5px 6px;
            border-top: 1px solid #e7eaec;
        }
        .box-content h3 {
            color: #428bca
        }
.tabtop13 {
	margin-top: 13px;
}
.tabtop13 td{
	background-color:#ffffff;
	height:25px;
	line-height:150%;
}
.font-center{ text-align:center}
.btbg{background:#e9faff !important;}
.btbg1{background:#f2fbfe !important;}
.btbg2{background:#f3f3f3 !important;}
.biaoti{
	font-family: 微软雅黑;
	font-size: 26px;
	font-weight: bold;
	border-bottom:1px dashed #CCCCCC;
	color: #255e95;
}
.titfont {

	font-family: 微软雅黑;
	font-size: 16px;
	font-weight: bold;
	color: #255e95;
	background: url(../images/ico3.gif) no-repeat 15px center;
	background-color:#e9faff;
}
.tabtxt2 {
	font-family: 微软雅黑;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	color:#327cd1;
}
.tabtxt3 {
	font-family: 微软雅黑;
	font-size: 14px;
	padding-left: 15px;
	color: #000;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 20px;
}

    </style>
        <style type="text/css" rel="stylesheet">
        a{
            color:black;　　/*这是默认*/
        }
        a:hover{
            color:blue; /*这是鼠标经过*/
        }
        a:active{
            color:red; /*这是鼠标点击后*/
        }
        </style>
    <div class="col-md-12">
        <div class="content-panel" style="margin-bottom: 12px;height:70px" >

            <h5 ><span style="font-weight: bold;text-align: center"><font size="3" color="#00008b">站点更新</font> </span>
                <button id="btn" style="background: #1ab394;width: 70px;height: 30px;margin: 0px 5px;padding: 0px"><a href="/update">ALL</a> </button>
                <button id="btn" style="background: #3071a9;width: 70px;height: 30px;margin: 0px 5px;padding: 0px"><a href="/windows_upd">Windows</a> </button>
                <button id="btn" style="background: #d9534f;width: 70px;height: 30px;margin: 0px 5px;padding: 0px"><a href="/linux_upd">Linux</a></button>
            </h5>

        </div>
    </div>

    <!--div class="col-md-12">
        <!--div class="content-panel" style="height: 60px">
            <button id="btn" style="background: #1ab394;width: 70px;height: auto"  onclick="closeUpdate()">All</button>
            <button id="btn" style="background: #3071a9;width: 70px;height: auto" onclick="openUpdate()">Windows</button>
            <button id="btn" style="background: #d9534f;width: 70px;height: auto" onclick="closeUpdate()">Linux</button>

            <!--button id="btn" style="background: #1ab394;padding-right: 14px;padding-left: 14px" onclick="month()">近30天</button-->
            <!--button id="btn" style="background: #1ab394;padding-right: 14px;padding-left: 14px" onclick="week()">近7天</button-->
            <!--button id="btn" style="background: #1ab394;padding-right: 18px;padding-left: 18px" onclick="openUpdate()">今天</button-->  {# 浅绿色 #23c6c8 #}
            <!--button id="btn" style="background: #1ab394;padding-right: 14px;padding-left: 14px" onclick="dayPUV()">昨日总PV/UV</button-->
        </div>
    </div>

    <div class="col-md-12">
        <div class="content-panel" style="margin-bottom: 30px">

         <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
            <div id="charts-line" style="height:auto;" >
                <body>
				<!--<button id="btn" style="background: #00b3ee;width: 70px;height: 30px;margin: 0px 5px;padding: 0px"><a href="/q">查询</a></button>-->
                <button id="btn" style="background: #00b3ee;width: 70px;height: 30px;margin: 0px 5px;padding: 0px"><a href="/add_items">新增项目</a></button>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td align="center" class="biaoti" height="60">站点列表</td>
  </tr>
  <!--tr>
    <td align="right" height="25">2017-01-02---2017-05-02</td>
  </tr-->
</table>

	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table">
				<thead>
					<tr>
						<!--th style="width: 40px">编号</th-->
						<th style="width: 120px">站点项目</th>
						<th style="width: 120px"> 站点地址</th>
						<th style="width: 300px">站点系统</th>
						<th>SVN地址</th>
					    <th style="width: 120px">操作</th>
					</tr>
				</thead>
				{% if items_all %}
				{% for d in items_all %}
				<tbody>
					<tr class="success">
						<!--td>{{ d.id }}</td-->
						<td>{{ d.items_name }}</td>
						<td>{{ d.items_place }}</td>
						<td>{{ d.items_system }}</td>
						<td>{{ d.items_resource }}</td>
						<!--<td>[url=/delete?id={{ d.id }}]删除[/url]  [url=/index.html]添加[/url]  [url=/showid?id={{ d.id }}]修改[/url] </td>-->
						<!--<td>[url=/index.html]添加[/url]</td>-->
						<td><a href="javascript:if(confirm('确实要删除吗?')) location='/delete?id={{ d.id }}'" style="background: greenyellow">删除</a>  <a href="javascript:if(confirm('确实要更新吗?')) location=/itemdata_update?id={{ d.id }}" style="background: cyan">更新</a></td>
					</tr>
					<!--tr class="success">
						<td>

						</td>
						<td>

						</td>
						<td>

						</td>
						<td>

						</td>
					</tr>
					<tr class="error">
						<td>

						</td>
						<td>

						</td>
						<td>

						</td>
						<td>

						</td>
					</tr>
					<tr class="warning">
						<td>

						</td>
						<td>

						</td>
						<td>

						</td>
						<td>

						</td>
					</tr>
					<tr class="info">
						<td>

						</td>
						<td>

						</td>
						<td>

						</td>
						<td>
							
						</td>
					</tr-->
				</tbody>
				{% endfor %}
				{% endif %}

			</table>
		</div>
	</div>
</div>
                </body>
            </div>
        </div>
    </div>
    <!--div class="content-panel" style="width: 400px; height: 200px;float: left;margin-left: 16px" >
        <div>
            <p id="box-title">主机总数</p>
        </div>
        <div id="box-content">
            <h3>Null</h3>
            <h5>All Host</h5>
        </div>
    </div-->

    <!--div class="content-panel" style="width: 400px; height: 200px;float: left;margin-left: 230px" >
        <div>
            <p id="box-title">用户总数</p>
        </div>
        <div id="box-content">
            <h3><a href="#">1</a></h3>
            <h5>All User</h5>
        </div>
    </div-->
    <!--div class="content-panel" style="width: 400px; height: 200px;float: right;margin-right: 16px" >
        <div>
            <p id="box-title">PV/UV</p>
        </div>
        <div id="box-content">
            <h4>Null</h4>
        </div>
    </div-->

{% endblock %}

{% block custom_js %}
    <!--script src="static/js/echarts.min.js"></script-->
    <!--script type="text/javascript">
                // 基于准备好的dom，初始化echarts图表
                var myChart = echarts.init(document.getElementById('charts-line'));

				var option = {
				    title : {
				        text: '网站访问量',
                        left: 'center',
                        top: 'auto'
				    },
				    tooltip : {
				        trigger: 'axis'
				    },
                    // 图例
				    legend: {
				        data:['PV','UV'],
                        top: '30'
				    },
                    // 工具
				    toolbox: {
				        show : true,
				        feature : {
				            mark : {show: true},
				            dataView : {show: true, readOnly: false},
				            magicType : {show: true, type: ['line','bar', 'stack', 'tiled']},  // 工具可显示的图
				            restore : {show: true},
				            saveAsImage : {show: true}
				        }
				    },
				    calculable : true,
                    // X 横坐标
				    xAxis : [
				        {
{#                            axisLabel: {rotate: 50},#}
                            name: '今天',
				            type : 'category',  // 分类
				            boundaryGap : false,
				            data : []
				        }
				    ],
                    // Y 竖坐标
				    yAxis : [
				        {
                            name: 'PV/页面浏览量 | UV/独立IP',
				            type : 'value'
				        }
				    ],
                    // 系列
				    series : [
				        {
				            name:'PV',
				            type:'line',
				            smooth:true,
				            itemStyle: {normal: {areaStyle: {type: 'default'}, color: '#23c6c8'}, lineStyle: {color: '#23c6c8'}},
				            data:[]
				        },
				        {
				            name:'UV',
				            type:'line',
				            smooth:true,
				            itemStyle: {normal: {areaStyle: {type: 'default'}, color: '#f8ac59'}},
				            data:[]
				        }]
                // 为echarts对象加载数据
                };
                myChart.setOption(option);
    var period = 'day';
    function getData(period) {
        $.ajax({
            type: 'get',
            url: '/charts/data-period=' + period,
            dataType: 'json',
            success: function (data) {
{#                console.log(data.pv);#}
                if (period == 'week') {
                    option.xAxis[0]['name'] = '近7天';
                }
                else if (period == 'month') {
                    option.xAxis[0]['name'] = '近30天';
                }
                option.series[0]['data'] = [];
                option.series[1]['data'] = [];
                option.xAxis[0]['data'] = [];
                for (var i = 0; i < data.pv.length; i++) {
{#                    console.log(data.pv[i]);#}
                    option.series[0]['data'].push(data.pv[i]);
                    option.xAxis[0]['data'].push(data.date_time[i])
                }
                for (var y = 0; y < data.uv.length; y++) {
                    option.series[1]['data'].push(data.uv[y]);
                }
                myChart.setOption(option);
            }
        })
    }
    getData(period);
    // 定时更新
    var time = setInterval(function(){
        getData(period);
    }, 60000);  // 60s
    // 点击按钮的函数
    function month(){
        var period = 'month';
        getData(period);
        closeUpdate();
    }
    function week(){
        var period = 'week';
        getData(period);
        closeUpdate();
    }
    function dayPUV() {
        var period = 'day_puv';
        getData(period);
        closeUpdate();
    }
    function closeUpdate(){
        clearInterval(time)
    }
    function openUpdate(){
        window.location.href='/index';
    }
    </script-->
<br>
{% endblock %}

{#</body>#}

{#</html>#}